.Sobre {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#SobreTexto {
    margin: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imgAleatoria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}